<div class="search-result-item<%=' odd' if offer_counter.odd?%>" data-num="<%=item_num(offer_counter)%>">
  <a href="#" class="scroll-arrow">&darr;</a>
  <h2><%=link_to offer.title, offer.offer_url, target: '_blank'%></h2>
  <div class="meta-data"><i><%=nice_date(offer.posted_at)%></i> <span class="separator">|</span> <%=Offer.source_display_name(offer.source_name)%></div>
  <%=simple_format(offer.desc)%>
</div>