<%=form_tag offers_search_path, method: 'get' do %>
  <%=text_field_tag 'search[query]', query_param%>
  <%=submit_tag 'Find Offers'%> <br />
  <%Offer::SOURCES.each_with_index do |source_name, source_id|%>
    <label>
      <%=check_box_tag "search[source[#{source_id}]]", '1', source_checked?(source_id)%> <%=source_image(source_name)%> <%=Offer.source_display_name(source_name)%>
    </label><br />
  <%end%>

<%end%>
