<!DOCTYPE html>
<html>
<head>
  <title>Fruehlance - find a freelance job</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'shared/ga_code'%>
  <div id="content">
    <div id="navigation">
      <%=link_to 'Find Job', root_path%>
      <%=link_to 'Statistic', stats_path%>
      <%=mail_to 'parizhskiy@gmail.com', image_tag('mail.png'), class: "mail"%>
    </div>
    <%= yield %>
    <%=image_tag 'loading.gif', id: 'items_loading'%>
  </div>
</body>
</html>
